@model MVCLayer.Models.Order

@{
    ViewBag.Title = "OrderPlaced";
}

<h2>Order Placed</h2>

<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            Laundry Type
        </dt>

        <dd>
            @if (Model.laundryID == 1)
            {
                <div>Package</div>
            }
            @if (Model.laundryID == 2) 
            {
        <div>Piece</div>
            }
            @if (Model.laundryID == 3)
            {
        <div>Weight</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

       
    </dl>
</div>
